@keyframes shinyTextShimmer {
  0% {
    background-position: 150% center;
  }
  100% {
    background-position: -50% center;
  }
}

.shiny-text {
  display: inline-block;
  background-size: 200% auto;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shinyTextShimmer var(--shiny-speed, 4.5s) ease-in-out 3;
}

.shiny-text.pause-on-hover:hover {
  animation-play-state: paused;
}
